body {
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
  margin: 0px; }

header {
  background-color: #5E1314;
  position: sticky;
  top: 0;
  z-index: 1; }

.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

nav {
  background-color: black;
  list-style: none; }

li {
  display: inline;
  padding: 10px; }

a {
  color: white;
  text-decoration: none;
  font-size: 25px; }

section {
  margin: 20px;
  font-size: 1.5vw; }

h1 {
  margin: 20px;
  background-color: #DEDEDE;
  color: #4B4B4B;
  padding-left: 10px;
  font-size: 4vw; }

#date {
  display: block;
  width: 100%;
  color: #4B4B4B;
  text-align: right; }

aside {
  margin: 20px;
  margin-top: 10px;
  display: inline;
  float: right;
  width: 12%; }

aside img {
  width: 100%; }

#news1 {
  margin: 20px;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%; }

#news1 div {
  width: 30%;
  position: relative; }

#news1 div img {
  width: 100%; }

#news1 div p {
  font-size: 1.5vw;
  text-align: wrap;
  padding-left: 10px;
  position: absolute;
  bottom: -10%;
  top: 65%;
  background-color: black; }

#mobonly {
  display: none; }

h2 {
  margin: 20px;
  background-color: #DEDEDE;
  color: #4B4B4B;
  width: calc(82% - 10px);
  padding-left: 10px;
  font-size: 4vw; }

#news2 {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  width: 82%; }

#news2 div {
  width: 30%;
  position: relative; }

#news2 div img {
  width: 100%;
  height: 85%; }

#news2 div p {
  font-size: 1.5vw;
  text-align: wrap;
  padding-left: 10px;
  position: absolute;
  bottom: -10%;
  top: 65%;
  left: 0%;
  right: 0%;
  background-color: black; }

#banner3 {
  margin-left: 10%;
  margin-right: 10%; }

#banner3 a img {
  width: 100%; }

#news3 {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 82%;
  font-size: 2.3vw; }

#news3 div {
  width: 45%;
  height: 45%;
  position: relative;
  margin-bottom: 7%; }

#news3 img {
  width: 100%; }

#news3 div p {
  font-size: 2vw;
  text-align: wrap;
  padding-left: 10px;
  position: absolute;
  bottom: -10%;
  top: 65%;
  left: 0%;
  right: 0%;
  background-color: black; }

footer {
  display: block;
  background-color: black;
  list-style: none;
  padding: 0px;
  height: 150px;
  position: relative; }
  footer ul {
    text-align: left; }
  footer img {
    position: absolute;
    right: 15px; }
  footer p {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 40%; }

.mobileonly {
  display: none; }

h4 {
  font-size: 8vw;
  text-align: center; }

#NASA {
  color: black;
  padding: 5%; }
  #NASA a {
    color: black;
    text-decoration: underline; }

#polar {
  color: black;
  padding: 5%; }
  #polar a {
    color: black;
    text-decoration: underline; }

#video {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 60%; }

@media screen and (max-width: 1200px) {
  #mobonly {
    display: initial; }

  .mobileonly {
    display: none; }

  section {
    margin: 0px; }

  #news1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    font-size: 2.5vw; }

  #news1 div {
    width: 45%;
    height: 45%;
    position: relative;
    margin: 1.5%; }

  #news1 div img {
    width: 100%; }

  #news1 div p {
    font-size: 2.8vw; }

  h1 {
    width: 100%; }

  h2 {
    width: 100%; }

  .bannerall {
    display: none; }

  footer ul {
    text-align: center; }
  footer img {
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  footer p {
    margin: 0;
    position: static;
    display: block;
    text-align: center; }

  #news2 {
    width: 95%; }

  #news3 {
    width: 95%; } }
@media screen and (max-width: 800px) {
  .maindisplay {
    display: none; }

  #mobonly {
    display: initial; }

  .mobileonly {
    display: initial; }

  section {
    margin: 0px; }

  #news1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    font-size: 2.5vw; }

  #news1 div {
    width: 45%;
    height: 45%;
    position: relative;
    margin: 1.5%; }

  #news1 div img {
    width: 100%; }

  #news1 div p {
    font-size: 2.8vw; }

  h1 {
    width: 100%; }

  h2 {
    width: 100%; }

  .mobileonly {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    font-size: 2.3vw; }

  .mobileonly div {
    width: 45%;
    min-height: 20%;
    position: relative;
    margin-bottom: 7%; }

  .mobileonly img {
    width: 100%; }

  .mobileonly div p {
    font-size: 2.8vw;
    text-align: wrap;
    padding-left: 10px;
    position: absolute;
    bottom: -10%;
    top: 65%;
    left: 0%;
    right: 0%;
    background-color: black; }

  .bannerall {
    display: none; }

  footer ul {
    text-align: center; }
  footer img {
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  footer p {
    margin: 0;
    position: static;
    display: block;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
